

.yellowButton {
    width : 130%;
    font-weight: bold;
    background: linear-gradient(to right, #f9ae19, #ea6907, #f9ae19);
}


.yellowButton:hover {
    background: linear-gradient(to right, #ea6907, #f9ae19, #ea6907);
    transform: scale(1.05);
    font-weight: bolder;
    transition: background 0.8s;
}

