.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    padding: 20px;
}

.card {
    border: 3px solid rgb(246, 186, 6);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: rgb(22, 20, 20);
    color : rgb(246, 186, 6);
    text-decoration: none; 
}


